@font-face{
    font-family: "finger";
    src: url('fonts/finger.ttf');
}
@font-face{
    font-family: "titilium";
    src: url('fonts/titilium.ttf');
}
@font-face{
    font-family: "yanone";
    src: url('fonts/yanone.ttf');
}
/*Globales*/
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "yanone", Arial, Helvetica;
    font-size: 20px;
    background: url("../img/pattern.png");
    background-attachment: fixed;
}
.clearfix{
    clear: both;
    float: none;
}
form label{
    display: block;
}
form input[type="text"],
form input[type="number"],
form input[type="file"],
form textarea{
    width: 50%;
    margin-bottom: 10px;
    margin-top: 4px;
    padding:10px;
}
button,
form input[type="submit"]{
    padding: 12px;
    background: rgba(53, 103, 164, 0.8);
    color: white;
    border-color: rgba(53, 103, 164, 0.8);
    border-radius: 5px;
    transition: all 300ms ;
}
button:hover,
form input[type="submit"]:hover{
    background: rgba(86, 160, 251, 0.8);
}
[disabled]{
    opacity: 0.4;
}
/* Alerts */
.success{
    background: green;
    color: white;
    padding: 5px;
    width: 100%;
    margin-top: 10px;
}
.error{
    background: red;
    color: white;
    padding: 5px;
    width: 100%;
    margin-top: 10px;
}
/*Navbar - Cabecera*/
header{
    display: block;
    width: 100%;
    height: 90px;
    background: rgba(53, 103, 164, 0.8);
    position: fixed;
    text-transform: uppercase;
}
header ul{
    display: block;
    width: 750px;
    height: inherit;
    margin: 0px auto;
}
header ul li{
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    line-height: 87px;
}
header a{
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    height: inherit;
    color: white;
    text-decoration: none;
    transition: all 300ms;
}
header a:hover, 
.active{
    background: rgba(0, 0, 0, 0.8);
}
/* LOGO */
#logo{
    font-family: "finger";
    font-size: 30px;
}
#logo a{
    transition: color 500ms, transform 500ms;
}
#logo a:hover{
    background: transparent;
    color: black;
    transform: scale(1.50, 1.50);
}
/* Contenedor */
#content{
    height: auto;
    min-height: 700px;
    width: 70%;
    background: rgba(255, 255, 255, 0.7);
    margin: 0px auto;
    padding-top: 120px;
    border-left: 1px solid #b7b7b7;
    box-shadow: 0px 0px 40px black;
    overflow-y: hidden;
}
#container{
    padding-left:16px;
    padding-right: 16px;
}
/* Component About */
#title{
    width: 70%;
    margin: 0px auto;
    margin-top: 60px;
    text-align: center;
}
#title h1{
    font-family: "finger";
    font-size: 52px;
}
#title h3{
    font-size: 33px;
    color: #8c888c;
}
#title span{
    font-size: 20px;
    color: #8c888c;
}
#title hr{
    margin-top: 15px;
    margin-bottom: 90px;
}
#about{
    width: 85%;
    margin: 0px auto;
}
#about h2{
    font-size: 37px;
}
#about hr{
    width: 20%;
}
#about p{
    padding: 20px;
    text-align: justify;
    font-size: 20px;
    color: #443a44;
}
/* Component Create project */
#container hr{
    width: 23%;
}
#container form{
    width: 80%;
}
form .error{
    margin-left: 10px;
    border-radius: 5px;
}
/* FOOTER */
footer{
    width:70%;
    margin: 0px auto;
    padding-top: 15px;
    color: rgba(0, 0, 0, 0.7);
}