<div id="title">
    <h1>{{ title }}</h1>
    <h3>{{ subtitle }}</h3>
    <span>{{ web }}</span>
<hr>
</div>
<div id="about">
    <h2>Sobre Mi</h2>
    <hr>
    <p> 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce venenatis enim sed neque vehicula, et ultrices tellus porta. Vestibulum libero diam, ullamcorper vel sapien bibendum, dapibus venenatis tellus. Integer at faucibus arcu. Mauris venenatis nec velit faucibus egestas. Phasellus congue bibendum orci, et malesuada lorem pretium sit amet. Quisque nec eleifend lorem. Ut commodo tempus urna. Phasellus blandit ornare ultricies. Proin nisl enim, imperdiet a aliquam eget, semper sit amet orci. Pellentesque scelerisque, turpis quis volutpat ultrices, lectus quam suscipit leo, in hendrerit sem est in orci. Nulla lobortis purus vel dui semper blandit. Cras tincidunt erat ut sagittis sagittis. Sed porta, elit at aliquam porta, nunc neque iaculis felis, vitae rhoncus lectus odio sit amet velit. Nulla facilisi. Morbi hendrerit faucibus est non placerat.

        Vestibulum hendrerit non turpis ac venenatis. Nunc aliquam maximus nisl non dapibus. Fusce volutpat tellus eu nulla sagittis placerat. Aliquam erat volutpat. Integer finibus mattis massa, sit amet egestas mauris faucibus sed. Integer risus ligula, auctor ultrices turpis in, suscipit tristique nisl. Donec dictum arcu ac libero sagittis, eu mattis ante ullamcorper. Duis commodo erat elit, eu pellentesque leo condimentum vitae. In hac habitasse platea dictumst. Mauris vel iaculis purus.
        
        Sed ullamcorper felis scelerisque risus sollicitudin, id condimentum dolor venenatis. Nulla nec diam at libero varius luctus. In et viverra quam, ac malesuada metus. Sed maximus, nunc a porta sollicitudin, est velit ullamcorper mauris, eu tristique nulla elit sit amet est. In hac habitasse platea dictumst. Donec at pellentesque dui. Ut turpis lectus, auctor et convallis sed, sodales malesuada dolor. Quisque sit amet ultricies turpis, eu aliquet mauris. Fusce tristique neque orci, id sollicitudin mauris fermentum et. Nam elementum feugiat leo, sed dictum lacus dapibus ut. Mauris dictum magna rhoncus bibendum mollis.
        
        In vel augue et dui placerat scelerisque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent vulputate hendrerit elit ut tristique. Quisque facilisis lobortis libero vel sagittis. Nulla nec nisi id lorem tristique eleifend. Etiam eget tellus nibh. Vivamus mattis lorem luctus dui ultrices, id tincidunt metus lacinia. Vivamus accumsan vel felis sed auctor. Donec id massa eu sapien iaculis iaculis. Proin quis tincidunt leo. In et nulla tincidunt metus vulputate luctus. Sed tellus quam, sollicitudin et molestie id, mattis a erat. Sed vehicula iaculis odio sit amet sagittis. 
    </p>
</div>
